@page
@model Overview.Pages.AppsModel
@{
    ViewData["Title"] = "App Master List";
}


<div class="container my-5" role="main">
    <article class="article">
        <h1 class="display-4 mb-4">App Master List</h1>
        <hr />

        <h3 id="donttriporg" class="mt-4">donttrip.org</h3>
        <p><strong>Main Site</strong>: <a href="http://donttrip.org/" target="_blank">http://donttrip.org</a></p>
        <ul>
            <li><a href="https://github.com/kevsiraki/dont_Trip" target="_blank">GitHub Repository</a></li>
        </ul>

        <p><strong>Client &amp; Hardware Resources</strong>:</p>
        <ul>
            <li>
                <a href="http://donttrip.org/donttrip/client/arduino" target="_blank">Arduino Client</a>
                <ul>
                    <li><a href="https://github.com/kevsiraki/arduino_rp2040_json_server" target="_blank">Arduino Server GitHub Repository</a></li>
                    <li><a href="https://github.com/kevsiraki/Arduino-Vue" target="_blank">Sample Frontend GitHub Repository</a></li>
                </ul>
            </li>
            <li><a href="http://donttrip.org/chat/" target="_blank">Chat</a></li>
        </ul>

        <p><strong>Other Projects</strong>:</p>
        <ul>
            <li><a href="http://donttrip.org/neopixel/" target="_blank">NeoPixel Projects</a></li>
            <li><a href="http://donttrip.org/rec/" target="_blank">AI Recommendations</a></li>
        </ul>

        <p><strong>Subdomains</strong>:</p>
        <ul>
            <li>
                <a href="http://books.donttrip.org/" target="_blank">Books</a>
                <ul>
                    <li><a href="https://github.com/kevsiraki/bookstore" target="_blank">GitHub Repository</a></li>
                </ul>
            </li>
        </ul>

        <h3 id="kevinsirakicom" class="mt-4">kevinsiraki.com</h3>
        <p><strong>Main Site</strong>: <a href="http://kevinsiraki.com/" target="_blank">http://kevinsiraki.com/</a></p>
        <ul>
            <li><a href="https://github.com/kevsiraki/portfolio" target="_blank">GitHub Repository</a></li>
        </ul>
        <p><strong>Contact Page</strong>: <a href="http://kevinsiraki.com/contact/" target="_blank">http://kevinsiraki.com/contact/</a></p>

        <p><strong>Subdomains</strong>:</p>
        <ul>
            <li>
                <a href="http://overview.kevinsiraki.com/" target="_blank">Overview</a>
                <ul>
                    <li><a href="https://github.com/kevsiraki/asp-overview-dev" target="_blank">GitHub Repository</a></li>
                </ul>
            </li>
            <li><a href="http://blog.kevinsiraki.com/" target="_blank">Blog</a></li>
            <li><a href="http://music.kevinsiraki.com/" target="_blank">Navidrome Music Streaming Service</a></li>
        </ul>

        <h3 id="nginx-load-balanced-pi-cluster" class="mt-4">Nginx Load Balanced Pi Cluster</h3>
        <ul>
            <li><a href="http://demo.kevinsiraki.com/" target="_blank">Load Balancer Test</a></li>
            <li><a href="https://demo.kevinsiraki.com/ip" target="_blank">IP/LB Test - Minimal</a></li>
            <li><a href="https://demo.kevinsiraki.com/dist/" target="_blank">React Post Demo</a></li>
            <li><a href="https://demo.kevinsiraki.com/playground/frontend" target="_blank">Redis Session/REST Playground</a></li>
        </ul>

        <h3 id="external-vercel-hosted" class="mt-4">External - Vercel Hosted</h3>
        <p><strong>Projects and AI Quickstart</strong>:</p>
        <ul>
            <li>
                <a href="https://projects.kevinsiraki.com/" target="_blank">Projects</a>
                <ul>
                    <li><a href="https://github.com/kevsiraki/asp-overview-dev" target="_blank">GitHub Repository</a></li>
                </ul>
            </li>
            <li>
                <a href="https://openai-assistants-quickstart-omega-cyan.vercel.app/" target="_blank">OpenAI Assistants Quickstart</a>
                <ul>
                    <li><a href="https://github.com/kevsiraki/openai-assistants-quickstart" target="_blank">Client GitHub Repository</a></li>
                </ul>
            </li>
        </ul>
    </article>
</div>
