@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Hello, World.</h1>
    <p>Welcome to my overview site, a .NET 8 web app built using ASP.NET Core with Razor Pages, Dockerized for smooth development and deployment workflows.</p>

    <h3 class="mt-4">Technologies Used</h3>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/2048px-.NET_Core_Logo.svg.png" alt=".NET 8 Logo" class="img-fluid" style="max-width: 75px;" />
            <p><strong>.NET 8</strong> - An iteration of the .NET platform, providing performance improvements and enhanced features for building modern applications.</p>
        </div>
    </div>

    <h3 class="mt-4">Containerization with Docker</h3>
    <div class="row justify-content-center">
            <div class="col-md-4">
            <img src="https://cdn.worldvectorlogo.com/logos/docker.svg" alt="Docker Logo" class="img-fluid" style="max-width: 100px;" />
            <p><strong>Docker</strong> - Docker containers are used to package the app for consistency across development and production environments, ensuring reliability and scalability.</p>
        </div>
    </div>

    <h3 class="mt-4">Environments</h3>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <img src="https://img.icons8.com/color/200/windows-11.png" alt="Windows 11 Logo" class="img-fluid" style="max-width: 75px;" />
            <p><strong>Windows 11 Dev Machine</strong> - Development environment utilizing Windows 11 for building and testing the application locally using Visual Studio and Docker.</p>
        </div>

        <div class="col-md-4">
            <img src="https://1000logos.net/wp-content/uploads/2023/04/Ubuntu-logo.png" alt="Ubuntu 22.04 Logo" class="img-fluid" style="max-width: 150px;" />
            <p><strong>Ubuntu 22.04 Prod Machine</strong> - The app runs in a production environment using Ubuntu 22.04 for stability, performance, and security in containerized Docker environments.</p>
        </div>
    </div>
</div>